body { font-size: medium; background-color: #f6f6f6; color: #202020; max-width: 78ch; line-height: 1.4; margin: 0 auto; padding: 2rem; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; }
p { text-indent: 1ch; margin: 0; margin-top: .4rem; margin-bottom: .4rem; }
h1 { font-size: 1.6rem; margin: 0; }
h2, h3, h4, h5, h6 { font-size: 1.3rem; margin: 0; }
a { color: #404040 }
a:hover { text-decoration: none }
code, pre, kbd, samp, tt { font-family: 'Courier New', Courier, monospace; }
table { border-collapse: collapse }
td, th { padding: 10px 20px }
caption { padding: 10px }
img { width: 100%; height: auto; margin: 0 auto; padding: 1rem; }
blockquote { padding-left: 1rem; padding-right: 1rem; }
footer { text-align: center; padding-top: 1rem; }
footer::first-letter { font-size: 2rem }
ul { margin-top: 0}
